<app-header></app-header>
<div class="progress">
    <div class="progress-bar-animated" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<div id="prevImprimir" style="width: 180px; height: 100%;" class="prevImprimir">
    <div class="countss" style="height: 35px;">
        <div class="prev" id="printUnit" (click)="imprSelec()" style="width: 115px; height: 35px;">
            <span class="icon-print"></span>
        </div>
        <div class="close" style="height: 35px;" id="closeI" (click)="animhide()  ">
            <span class="icon-left-open" id="spclo"></span>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel"><span class="icon-print"></span> Productos Seleccionados</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
                    </div>
                    <div class="modal-body" id="modalPrint"></div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="count">{{indice}}</div> -->
        <div class="btnSettings">
            <div id="limp" style="height: 35px;" (click)="limpiarLi()">
                <span class=" icon-trash-4"></span>
            </div>
        </div>
    </div>
    <div class="d" style="width: 100%;" id="contenidoPrev">
    </div>
</div>

<div class="cons container" id="const">
    <div class="paginador">
        <pagination-controls (pageChange)="pageActual = $event"></pagination-controls>
    </div>
    <div class="filterfor" data-toggle="modal" data-target="#exampleModal">
        <span class="filter icon-filter" data-toggle="modal" data-target="#exampleModal" id="an" (mouseover)="retAnim('animFilter')" (mouseleave)="retAnim('')" title="El filtro está activado por, {{filtro}}"></span> Filtrado por:
        <strong style="font-size: 14pt; color: steelblue;">
           {{filtro}} | Productos alcanzados: <strong> {{contadorProdAct}} <span class="icon-database"></span> </strong>
        </strong>
    </div>
    <div class="container-fluid display d-flex justify-content-between align-items-end">
        <!-- <button type="button" id="prods" (mouseover)="changeHeight('auto')" (mouseleave)="changeHeight('410px')" (click)="prints()">
          <span class="icon-print"></span>  Imprimir Productos
        </button> -->
        <div class="botones">
            <div class="bn" title="Mostrar QR" id="bnA" (click)="viewOptionsA()">
                <span class="icon-qrcode"></span> Mostrar etiquetas QR
            </div>
            <div class="bn" title="Mostrar QR" id="bnB" (click)="viewOptionsB()">
                <span class="icon-list-alt"></span> Mostrar tabla de Productos
            </div>
        </div>
        <div class="prods">
            <div class="md-form mt-0">
                <!-- <label title="Busqueda por local...">
                  <span class="icon-info"></span> Filtrar por Local:
                </label> -->
                <div class="btnFilter">
                    <button type="button" style="border-bottom-right-radius: 0px !important; border-top-right-radius: 0px !important;" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                    <span class="icon-equalizer"></span>
                  </button>
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel"><span class="icon-equalizer"></span>
                                         Filtrar por otros parámetros.
                                    </h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                                </div>
                                <div class="modal-body" id="filtros">
                                    <div class="accordion" id="accordionExample">
                                        <div class="card">
                                            <div class="card-header" id="headingOne">
                                                <h2 class="mb-0">
                                                    <button class="btn btn-link btn-block text-left" [id]="ida" type="button"
                                                     data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                                      <strong>Por custodio:</strong> Actualmente tiene(s), <strong> {{cantCust}}
                                                           </strong> custodio(s), registrado en la base de datos.
                                                    </button>
                                                    <div class="display d-flex">
                                                        <label for="inpts"><span style="color: steelblue;" class="icon-search"></span></label>
                                                        <input id="inpts" type="text" class="inpts" placeholder="Buscar por custodio..." [(ngModel)]="filterPost" name="filterPost" (keyup)="getCustoRep()">
                                                    </div>
                                                </h2>
                                            </div>

                                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                                <div class="card-body" style="height: 300px !important; overflow-y: auto !important;">
                                                    <a class="dropdown-item" href="javascript: void(0)" (click)="getID(ida, cust.dpto)"
                                                     *ngFor="let cust of custodios">
                                                        <strong> Nombres: </strong> {{ cust.nombre | titlecase }} {{ cust.apellido | titlecase }} <br>
                                                        <strong> Código: </strong> {{cust.codigo}} <br>
                                                        <strong> Ciudad: </strong> {{cust.nombre1 | titlecase}} / {{cust.dpto}}
                                                    </a>
                                                    <hr>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="card">
                                            <div class="card-header" id="headingOne">
                                                <h2 class="mb-0">
                                                    <button class="btn btn-link btn-block text-left" [id]="idb" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                      <strong>Por marca:</strong> Actualmente tiene(s), <strong> {{Mcs}} </strong> marca(s), registrado en la base de datos.
                                                    </button>
                                                </h2>
                                            </div>

                                            <div id="collapseTwo" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                                <div class="card-body" style="height: 300px !important; overflow-y: auto !important;">
                                                    <a class="dropdown-item" href="javascript: void(0)" *ngFor="let mc of Marcas" (click)="getID(idb, mc.nombre)">
                                                      {{mc.nombre }}
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <input class="form-control" style="border-bottom-left-radius: 0px !important; border-top-left-radius: 0px !important;"
                    (keyup)="getDep(SearchDep)" [(ngModel)]="SearchDep" name="SearchDep" type="text" placeholder="Search" aria-label="Search"> -->
                </div>
            </div>
        </div>
    </div>

    <div class="dataQR mb-4 animated fadeIn" id="dataQR" *ngIf="conterB">

        <div class="box" style="cursor: pointer;" 
        *ngFor="let a of dataQRExtract | paginate: {itemsPerPage: 12, currentPage: pageActual}"
         id="box-{{a.id}}" (click)="imprimirUnidad(a.id, a.placa, a.nombre)">
            <div class="info" data-title="Nombre: {{a.nombre}}&#10;Placa: {{a.placa}}&#10;Ciudad: {{a.nomCiudad}}&#10;Custodio: {{a.nombreCustodio}}&#10;Marca: {{a.nomMarca}}&#10;Departamento: {{a.nomDpto}}">
                <span class="icon-info"></span>
            </div>
            <div class="QR" [id]="a.placa">
                {{createQRO(a.placa)}}<br>
            </div>
            <div class="data" style="font-size: 9pt;">
                Nombre:<strong> {{a.nombre}} </strong><br> Placa:
                <strong> {{a.placa}} </strong><br>
            </div>
        </div>
    </div>

    <div class="dataQR" id="dataQRB" *ngIf="conterA">

        <div class="b animated fadeIn" style="width: 100%;">
            <table class="table" style="font-size: 12pt;">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Placa</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Marca</th>
                        <th scope="col">Custodio</th>
                        <th scope="col">Local</th>
                        <th scope="col">Ciudad</th>
                    </tr>
                </thead>
                <tbody style="height: 485px; overflow: auto; border: solid 0.5px gray;">
                    <tr *ngFor="let b of dataQRExtract | paginate: {itemsPerPage: 15, currentPage: pageActual}">
                        <th scope="row">{{b.placa}}</th>
                        <td>{{b.nombre}}</td>
                        <td>{{b.nomMarca}}</td>
                        <td>{{b.nombreCustodio}}</td>
                        <td>{{b.nomDpto}}</td>
                        <td>{{b.nomCiudad}}</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>
