<div id="formActionA" class="animated fadeIn slow">
    <div class="logo">
        <img src="../../assets/logo-web.png" style="width: auto; height: 150px;">
    </div>
    <div id="content" class="">
        <div class="box-form" id="boxSign" *ngIf="false">
            <p id="SignIn"><span class="icon-users"></span>Sign In</p>
        </div>
        <div class="box-form" id="boxLog" *ngIf="false">
            <p id="LogIn">Log In</p>
        </div>
    </div>

    <div id="formularioLogIn">
        <div id="source2"></div>
        <!--login form INICIO-->

        <form id="formInt1">
            <div class="labelInputs mt-2 mb-2">
                <label for="usuario"><span class="icon-adult"></span>Usuario:</label>
                <input type="text" id="usuario" class="inputs" placeholder="" requerid [(ngModel)]="_Iuser.webUsu" name="webUsu">
            </div>
            <div class="labelInputs mt-2 mb-2">
                <label for="password"><span class="icon-lock-open-1"></span>Contraseña:</label>
                <input [type]="passwordType" id="pass" class="inputs" placeholder="" requerid [(ngModel)]="_Iuser.webPass" name="webPass">
                <div class="showPass">
                    <span class=" icon-eye-3 mt-2" id="eyeA" style="cursor:pointer;" item-end (click)="passwordHidShow()"></span>
                    <!--<span class=" icon-eye-off mt-2" id="eyeAa" style="cursor:pointer;"></span>-->
                    <p class="note" id="sowerCasePass1"></p>
                </div>
            </div>
            <input type="submit" value="Iniciar Sesión" id="loginButton" name="submit" class="btn btn-primary mt-3 mb-3" (click)="logeo()">

            <!-- <select>
          <option> Epresa1 </option>
          <option> Epresa2 </option>
          <option> Epresa3 </option>
        </select> -->
        </form>
        <div class="container display d-flex justify-content-center align-items-end flex-wrap">
            <p class="text text-info mr-2"> <span class=" icon-tablet-1"></span>Esta aplicación utiliza QR Escaner </p>
            <a class="btn btn-success" href="https://play.google.com/store/apps/details?id=com.gamma.scan" target="_BLANK">
                <span class=" icon-rain"></span> Descargala Aquí
            </a>
        </div>
    </div>

    <!-- <div id="formularioSigngIn" *ngIf="false">
        <div id="source"></div>
        <form action="php-modules/envioDatos.php" method="POST" class="formInt">
            <div class="labelInputs mt-2 mb-2">
                <label for="usuario2">Usuario:</label>
                <input type="text" id="usuario2" class="inputs" name="usuario" placeholder="" requerid>
            </div>
            <div class="labelInputs mt-2 mb-2">
                <label for="password2"><span class="icon-lock-open-empty"></span>Contrase&ntildea:</label>
                <input type="password" id="password2" class="inputs" name="password" placeholder="" requerid>

                <div class="showPass">
                    <span class=" icon-eye-3 mt-2" id="eyeB" style="cursor:pointer;"></span>
                    <span class=" icon-eye-off mt-2" id="eyeBa" style="cursor:pointer;"></span>
                </div>
                <label for="repassword"><span class="icon-lock-open-empty" id="tof"></span>Repite tu Contrase&ntildea:</label>
                <input type="password" id="repassword" class="inputs" name="repassword" placeholder="" requerid>

                <span class=" icon-eye-3 mt-2" id="eyeC" style="cursor:pointer;"></span>
            </div>
            <input type="button" value="Registrarse" id="signButton" name="submit" class="btn btn-primary mt-3 mb-3">
        </form>
    </div> -->
</div>