<div class="container-fluid" id="video">
    <video width="100%" id="videoA" autoplay loop src="../../assets/production ID 4281239.mp4"></video>
</div>
<div class="container-fluid" id="bodyConts">
    <div id="formActionA" class="animated fadeInLeft slow">
        <div class="logo">
            <img [src]="imgLogoB" id="Logotipo">
        </div>
        <div id="content" class="">
            <div class="box-form" id="boxSign" *ngIf="false">
                <p id="SignIn"><span class="icon-users"></span>Entrar a la aplicacion</p>
            </div>
            <div class="box-form" id="boxLog" *ngIf="false">
                <p id="LogIn">Log In</p>
            </div>
        </div>

        <div id="formularioLogIn">
            <div id="source2"></div>
            <!--login form INICIO-->
            <form id="formInt1">
                <div class="labelInputs mt-2 mb-2">
                    <label for="usuario"><span class="icon-user"></span>Usuario:</label>
                    <input type="text" id="usuario" class="inputs" placeholder="" requerid [(ngModel)]="_Iuser.webUsu" name="webUsu">
                </div>
                <div class="labelInputs mt-2 mb-2">
                    <label for="password"><span class="icon-lock-open-1"></span>Contraseña:</label>
                    <input [type]="passwordType" id="pass" class="inputs" placeholder="" requerid [(ngModel)]="_Iuser.webPass" name="webPass">
                    <div class="showPass">
                        <span class=" icon-eye-3 mt-2" id="eyeA" style="cursor:pointer;" item-end (click)="passwordHidShow()"></span>
                        <!--<span class=" icon-eye-off mt-2" id="eyeAa" style="cursor:pointer;"></span>-->
                        <p class="note" id="sowerCasePass1"></p>
                    </div>
                </div>
                <input type="submit" value="Iniciar Sesión" id="loginButton" name="submit" class="btn btn-primary mt-3 mb-3" (click)="logeo()">
            </form>
            <div class="container display d-flex justify-content-center align-items-end flex-wrap">
                <a class="btn btn-danger w-100" style="font-size: 10pt;" href="https://play.google.com/store/apps/details?id=com.gamma.scan" target="_BLANK">
                    <span class=" icon-rain"></span> Descarga aquí QR Escanner
                </a>
            </div>
        </div>
    </div>

</div>