#bg-2 {
    width: 100%;
    height: auto;
    position: absolute;
    z-index: 4;
    opacity: 0.4;
    top: 50%;
    margin-top: -75px;
}

#Logotipo {
    width: 150px;
    height: auto;
}

#video {
    position: absolute;
    padding: 0px;
    margin: 0px;
    z-index: -2;
    height: 100%;
    overflow: hidden;
}

#bodyConts {
    background: rgb(69, 0, 0);
    background: linear-gradient(180deg, rgba(69, 0, 0, 0.37298669467787116) 0%, rgba(18, 0, 0, 1) 59%);
    margin: 0px;
    height: 100%;
    z-index: 5;
    overflow: hidden;
}

#formulario {
    font-family: 'Montserrat', sans-serif;
    width: 400px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.inputs {
    text-align: left;
    width: 100%;
    padding-left: 10px;
    background-color: transparent;
    color: rgb(247, 13, 13);
    border: none;
    border-bottom: solid 1px red;
    transition: ease all 1s;
    outline: none;
}

.inputs:hover {
    transition: ease all 1s;
    box-shadow: 0px 0px 15px rgba(12, 10, 34, 0.7);
}

#formActionA {
    padding-top: 50px;
    display: flex;
    width: 300px;
    padding: 15px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom: solid 7px #eb1010;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.6);
}

.formInt {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#logo {
    display: flex;
    justify-content: center;
}

#content {
    border-radius: 10px;
    border: solid 1px rgb(230, 230, 230);
}

.labelInputs {
    color: rgb(252, 40, 40);
    text-align: right;
}

.box-form {
    width: 140px;
    height: auto;
    color: gray;
    border-radius: 10px;
    border-top: 0px solid rgb(119, 164, 223);
    cursor: pointer;
    transition: ease all 0.3s;
}

.box-form:hover {
    transition: ease all 0.5s;
    border-top: 0.4px solid rgb(204, 236, 255);
    animation: flowGlow ease-in 0.5s;
}

@keyframes flowGlow {
    0% {
        border-top: 0px solid rgb(204, 236, 255);
        box-shadow: 0px -8px 8px rgba(105, 205, 255, 0.5);
    }
    50% {
        border-top: 3px solid rgb(204, 236, 255);
        box-shadow: 0px -8px 8px rgba(157, 235, 255, 0.8);
    }
}

#SignIn,
#LogIn {
    margin-top: 10px;
}

#content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}


/*responsive INICIO*/

@media(max-width: 850px) {
    #formulario {
        width: 70%;
        height: auto;
    }
}

@media(max-width: 478px) {
    #formulario {
        width: 100%;
        height: auto;
    }
}


/*responsive FIN*/

#showPass {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 12pt;
}

.note {
    font-size: 8pt;
    width: 200px;
    height: auto;
}

#signInButton,
#loginButton {
    background: transparent;
    transition: ease all 0.4s;
    border: solid 1px rgb(236, 14, 14);
}

#signInButton:hover {
    transition: ease all 0.5s;
    box-shadow: 0px 0px 10px rgba(12, 10, 34, 0.7);
    background-color: red;
    color: white;
}

#loginButton {
    width: 100%;
}

#loginButton:hover {
    transition: ease all 0.5s;
    box-shadow: 0px 0px 10px rgba(12, 10, 34, 0.7);
}

#source {
    background: rgb(9, 44, 57);
    background: linear-gradient(175deg, rgba(9, 44, 57, 1) 0%, rgba(13, 42, 66, 1) 30%, rgba(2, 22, 33, 0.5452586206896552) 60%, rgba(3, 23, 78, 0) 100%);
}

@media screen and (max-width: 500px) {
    #formActionA {
        width: 100%;
    }
    #video {
        display: none;
    }
    #bodyConts {
        background: rgb(69, 0, 0);
        background: radial-gradient(circle, rgba(69, 0, 0, 1) 0%, rgba(29, 2, 2, 1) 100%);
    }
}