.head {
    background: rgb(33, 13, 13);
    background: linear-gradient(279deg, rgba(33, 13, 13, 1) 0%, rgba(1, 1, 1, 1) 100%);
    height: 45px;
    padding: 0 !important;
}

.rightDiv {
    width: 180px;
    height: 100%;
    transform: skewX(-35deg);
    margin-left: -15px;
    border-right: solid 10px red;
    background: rgb(48, 2, 2);
    background: linear-gradient(279deg, rgba(48, 2, 2, 1) 0%, rgba(14, 1, 1, 1) 59%);
}