<app-header></app-header>

<div class="cont container-fluid">

    <div class="Interfaz-conf ">
        <strong><span class="icon-eye" style="color: gray;"></span>Modificar entrada de datos.</strong>
        <p class="text text-info" style="font-size: 7pt;">
        <span class="icon-warning" style="color: steelblue;"></span>
        Realizar estos cambios tendrà efecto tanto en el formulario de ingreso de activos fijos y el de toma de inventario.
        <hr>
        <form id="form">
            <div class="form-group">
              <label for="_pla"><span id="splaca" class="icon-tag"></span> Placa</label>
              <input type="range" min="{{minRange}}" max="{{maxRange}}"
                (input)="placa = $event.target.value" id="_pla"
                (change)="cPlaca('splaca')"
                class="form-control-range" [ngModel]="_placa" name="_placa">
                <div class="sin">
                    <span class="icon-cancel">No</span>
                    <span class="icon-ok">    Si</span>
                </div>
            </div>
            <div class="form-group">
                <label for="_class"><span id="sclase" class="icon-tag"></span> Clase</label>
                <input type="range" min="{{minRange}}" max="{{maxRange}}" 
                (input)="Clas = $event.target.value" id="_class"
                (change)="Class('sclase')"
                 class="form-control-range" [ngModel]="_clase" name="_clase">
                <div class="sin">
                    <span class="icon-cancel">No</span>
                    <span class="icon-ok">Si</span>
                </div>
            </div>

            <div class="form-group">
                <label for="_ciud" title=""><span id="sciud" class="icon-tag"></span> Ciudad.</label>
                <input type="range"  min="{{minRange}}" max="{{maxRange}}"
                (input)="ciudVar = $event.target.value" id="_ciud"
                (change)="ciudFunc('sciud')"
                 class="form-control-range" value="{{rValue}}" [ngModel]="_ciud" name="_ciud">
                <div class="sin">
                    <span class="icon-cancel">    No    </span>
                    <span class="icon-ok">        Si    </span>
                </div>
            </div>

            <div class="form-group">
                <label for="_nPr" title="Nombre del Producto"><span id="snombre" class="icon-tag"></span> N. Prod.</label>
                <input type="range"  min="{{minRange}}" max="{{maxRange}}" 
                (input)="nProd = $event.target.value" id="_nPr"
                (change)="nProduc('snombre')"
                 class="form-control-range" [ngModel]="_nombre" name="_nombre">
                <div class="sin">
                    <span class="icon-cancel">No</span>
                    <span class="icon-ok">Si</span>
                </div>
            </div>
            <div class="form-group">
                <label for="_custodio"><span id="scustodio" class="icon-tag"></span> Custodio</label>
                <input type="range" min="{{minRange}}" max="{{maxRange}}" 
                (input)="nCustodios = $event.target.value" id="_custodio"
                (change)="nCust('scustodio')"
                 class="form-control-range" [ngModel]="_custodio" name="_custodio">
                <div class="sin">
                    <span class="icon-cancel">No</span>
                    <span class="icon-ok">Si</span>
                </div>
            </div>
            <div class="form-group" title="Departamento">
                <label for="_dpto"><span id="sdpto" class="icon-tag"></span> Dpto.</label>
                <input type="range" min="{{minRange}}" max="{{maxRange}}"
                  (input)="ndepar = $event.target.value" id="_dpto"
                  (change)="nDeps('sdpto')"
                  class="form-control-range" [ngModel]="_dpto" name="_dpto">
                <div class="sin">
                    <span class="icon-cancel">No</span>
                    <span class="icon-ok">Si</span>
                </div>
            </div>
            <div class="form-group">
                <label for="_serie"><span id="sserie" class="icon-tag"></span> Serie.</label>
                <input type="range" min="{{minRange}}" max="{{maxRange}}" 
                 (input)="nSerie = $event.target.value" id="_serie"
                 (change)="SerieFunc('sserie')"
                 class="form-control-range" 
                 [ngModel]="_serie"
                 name="_serie">
                <div class="sin">
                    <span class="icon-cancel">No</span>
                    <span class="icon-ok">Si</span>
                </div>
            </div>
            <div class="form-group">
                <label for="valor"><span id="svalor" class="icon-tag"></span> Valor.</label>
                <input type="range" min="{{minRange}}" max="{{maxRange}}" 
                (input)="nValor = $event.target.value" id="valor"
                (change)="nValorFunc('svalor')"
                class="form-control-range" [ngModel]="_valor" name="_valor">
                <div class="sin">
                    <span class="icon-cancel">No</span>
                    <span class="icon-ok">Si</span>
                </div>
            </div>
            <div class="form-group">
                <label for="activo"><span id="sactivo" class="icon-tag"></span> Activo.</label>
                <input type="range" min="{{minRange}}" max="{{maxRange}}"
                (input)="nActivo = $event.target.value" id="activo"
                (change)="nActivoFunc('sactivo')"
                class="form-control-range" [ngModel]="_activo" name="_activo">
                <div class="sin">
                    <span class="icon-cancel">No</span>
                    <span class="icon-ok">Si</span>
                </div>
            </div>
            <div class="form-group">
                <label for="refer"><span id="srefer" class="icon-tag"></span> Referido.</label>
                <input type="range" min="{{minRange}}" max="{{maxRange}}" 
                 (input)="refers = $event.target.value"
                 (change)="nRefersFunc('srefer')" id="refer"
                 class="form-control-range"  [ngModel]="_refer" name="_refer">
                <div class="sin">
                    <span class="icon-cancel">No</span>
                    <span class="icon-ok">Si</span>
                </div>
            </div>
            
            <div class="form-group" >
                <label for="fec" title="Fecha Actual">
                    <span id="sfac" class="icon-tag"></span> Fecha Ac.</label>
                <input type="range" min="{{minRange}}" max="{{maxRange}}"
                (input)="fActual = $event.target.value" id="_fac"
                (change)="fac('sfac')"
                class="form-control-range" [ngModel]="_fac" name="_fac">
                <div class="sin">
                    <span class="icon-cancel">No</span>
                    <span class="icon-ok">Si</span>
                </div>
            </div>
            
            <div class="form-group">
                <label for="usuc"  title="Usuario creación"><span id="susuc" class="icon-tag"></span> User C.</label>
                <input type="range" min="{{minRange}}" max="{{maxRange}}"
                (input)="nUsuc = $event.target.value" id="usuc"
                (change)="nUsucr('susuc')"
                class="form-control-range" [ngModel]="_usuc" name="_usuc">
                <div class="sin">
                    <span class="icon-cancel">No</span>
                    <span class="icon-ok">Si</span>
                </div>
            </div>
            
            <div class="form-group">
                <label for="fmod" title="Fecha Modifcación"><span id="sfmod" class="icon-tag"></span> Fecha M.</label>
                <input type="range" min="{{minRange}}" max="{{maxRange}}"
                (input)="fMod = $event.target.value" id="_feMod"
                (change)="feMod('sfmod')"
                class="form-control-range" [ngModel]="_fmod" name="_fmod">
                <div class="sin">
                    <span class="icon-cancel">No</span>
                    <span class="icon-ok">Si</span>
                </div>
            </div>
            
            <div class="form-group">
                <label for="usm" title="Usuario Modifcación"><span id="susm" class="icon-tag"></span> User M.</label>
                <input type="range"  min="{{minRange}}" max="{{maxRange}}"
                (input)="nUsm= $event.target.value" id="usm"
                (change)="nUsmr('susm')"
                 class="form-control-range" [ngModel]="_usm" name="_usm">
                <div class="sin">
                    <span class="icon-cancel">No</span>
                    <span class="icon-ok">Si</span>
                </div>

            </div>

            <div class="form-group">
                <label for="ffin" title="Fecha fin">
                    <span id="sffin" class="icon-tag"></span> Fecha F.</label>
                <input type="range"  min="{{minRange}}" max="{{maxRange}}" 
                (input)="fecFin = $event.target.value" id="_feFin"
                (change)="feFin('sffin')"
                 class="form-control-range" [ngModel]="_ffin" name="_ffin">
                <div class="sin">
                    <span class="icon-cancel">No</span>
                    <span class="icon-ok">Si</span>
                </div>
            </div>
            
            <div class="form-group">
                <label for="ufin" title="Usuario final"><span id="sufin" class="icon-tag"></span> User F.</label>
                <input type="range"  min="{{minRange}}" max="{{maxRange}}" 
                (input)="UsFin = $event.target.value" id="ufin"
                (change)="nUsFin('sufin')"
                class="form-control-range" value="{{rValue}}" [ngModel]="_ufin" name="_ufin">
                <div class="sin">
                    <span class="icon-cancel">No</span>
                    <span class="icon-ok">Si</span>
                </div>
            </div>
            
            <div class="form-group">
                <label for="grupo" ><span id="sgrupo" class="icon-tag"></span> Grupo.</label>
                <input type="range"  min="{{minRange}}" max="{{maxRange}}"
                (input)="nGroup = $event.target.value" id="grupo"
                (change)="nGroupFun('sgrupo')"
                class="form-control-range"
                value="{{rValue}}" [ngModel]="_grupo" name="_grupo">
                <div class="sin">
                    <span class="icon-cancel">No</span>
                    <span class="icon-ok">Si</span>
                </div>
            </div>
            
            <div class="form-group">
                <label for="marca" title="Marca del producto"><span id="smarca" class="icon-tag"></span> Marca.</label>
                <input type="range"  min="{{minRange}}" max="{{maxRange}}" 
                (input)="mArca = $event.target.value" id="marca"
                (change)="nMarca('smarca')"
                 class="form-control-range" 
                 value="{{rValue}}" [ngModel]="_marca" 
                 name="_marca">
                <div class="sin">
                    <span class="icon-cancel">No</span>
                    <span class="icon-ok">Si</span>
                </div>
            </div>
            
            <div class="form-group">
                <label for="color" title="Color del producto"><span id="scolor" class="icon-tag"></span> Color.</label>
                <input type="range"  min="{{minRange}}" max="{{maxRange}}" 
                (input)="colorVar = $event.target.value" id="color"
                (change)="colorFunc('scolor')"
                 class="form-control-range" value="{{rValue}}" [ngModel]="_color" name="_color">
                <div class="sin">
                    <span class="icon-cancel">No</span>
                    <span class="icon-ok">Si</span>
                </div>
            </div>
            
            <div class="form-group">
                <label for="fc" title="Fecha de Creación"><span id="sfc" class="icon-tag"></span> Fecha Cr.</label>
                <input type="range"  min="{{minRange}}" max="{{maxRange}}"
                (input)="feCreac = $event.target.value" id="_feCrea"
                (change)="feCrea('sfc')"
                 class="form-control-range" value="{{rValue}}" [ngModel]="_fc" name="_fc">
                <div class="sin">
                    <span class="icon-cancel">No</span>
                    <span class="icon-ok">Si</span>
                </div>
            </div>            
            
            <div class="form-group">
                <label for="prov" title="Proveedor"><span id="sprov" class="icon-tag"></span> Pvdor.</label>
                <input type="range"  min="{{minRange}}" max="{{maxRange}}"
                (input)="ProvVar = $event.target.value" id="prov"
                (change)="ProvFunc('sprov')"
                class="form-control-range" value="{{rValue}}"
                [ngModel]="_prov" name="_prov">
                <div class="sin">
                    <span class="icon-cancel">No</span>
                    <span class="icon-ok">Si</span>
                </div>
            </div>
            
            <div class="form-group">
                <label for="mp" title="Modelo del producto"><span id="smod" class="icon-tag"></span> Modelo.</label>
                <input type="range"  min="{{minRange}}" max="{{maxRange}}"
                (input)="ModVar = $event.target.value" id="mp"
                (change)="ModFunc('smod')"
                class="form-control-range"
                [ngModel]="_mp" name="_mp">
                <div class="sin">
                    <span class="icon-cancel">No</span>
                    <span class="icon-ok">Si</span>
                </div>
            </div>
            
            <div class="form-group">
                <label for="vut" title="Vida útil del producto"><span id="svut" class="icon-tag"></span> V. Útil.</label>
                <input type="range"  min="{{minRange}}" max="{{maxRange}}"
                (input)="VitVar = $event.target.value" id="vut"
                (change)="VitFunc('svut')"
                 class="form-control-range" value="{{rValue}}" [ngModel]="_vut" name="_vut">
                <div class="sin">
                    <span class="icon-cancel">No</span>
                    <span class="icon-ok">Si</span>
                </div>
            </div>
            
            <div class="form-group">
                <label for="vre" title="Valor residual del producto">
                    <span id="svre" class="icon-tag"></span> V. Resi.</label>
                <input type="range"  min="{{minRange}}" max="{{maxRange}}"
                (input)="ValrVar = $event.target.value" id="vre"
                (change)="ValrFunc('svre')"
                 class="form-control-range" value="{{rValue}}" [ngModel]="_vre" name="_vre">
                <div class="sin">
                    <span class="icon-cancel">No</span>
                    <span class="icon-ok">Si</span>
                </div>
            </div>
            
            <div class="form-group">
                <label for="fComp" title="Fecha de Compra">
                    <span id="sfcomp" class="icon-tag"></span> Fecha Cm.</label>
                <input type="range"  min="{{minRange}}" max="{{maxRange}}"
                 (input)="fCompra = $event.target.value" id="fComp"
                 (change)="feComp('sfcomp')"
                 class="form-control-range" value="{{rValue}}" [ngModel]="_fComp" name="_fComp">
                <div class="sin">
                    <span class="icon-cancel">No</span>
                    <span class="icon-ok">Si</span>
                </div>
            </div>

            <div class="form-group">
                <label for="fcu" title="Fecha Custodio">
                    <span id="sfcu" class="icon-tag"></span> Fecha Co.</label>
                <input type="range" min="{{minRange}}" max="{{maxRange}}"
                id="_fCust"
                (input)="feCusto = $event.target.value"
                (change)="feCust('sfcu')"
                class="form-control-range" value="{{rValue}}"
                [ngModel]="_fcu" name="_fcu">
                <div class="sin">
                    <span class="icon-cancel">No</span>
                    <span class="icon-ok">Si</span>
                </div>
            </div>

            <div class="form-group">
                <label for="fcu" title="Fecha inicio depreciación">
                    <span id="side" class="icon-tag"></span>
                     Fecha I.D..</label>
                <input type="range"  min="{{minRange}}" max="{{maxRange}}" id="_iDep"
                (input)="feInde = $event.target.value"
                (change)="feIndepre('side')"
                class="form-control-range" value="{{rValue}}" [ngModel]="_ide" name="_ide">
                <div class="sin">
                    <span class="icon-cancel">No</span>
                    <span class="icon-ok">Si</span>
                </div>
            </div>

            <div class="form-group">
                <label for="cgas" title="Cuenta de gastos"><span id="scgas" class="icon-tag"></span> C. Gasto.</label>
                <input type="range"  min="{{minRange}}" max="{{maxRange}}"
                (input)="cGastVar = $event.target.value" id="cgas"
                (change)="cGastFunc('scgas')"
                class="form-control-range" [ngModel]="_cgas" name="_cgas">
                <div class="sin">
                    <span class="icon-cancel">No</span>
                    <span class="icon-ok">Si</span>
                </div>
            </div>

            <div class="form-group">
                <label for="cdan" title="Cuenta de depreciación acumulada"><span id="scdan" class="icon-tag"></span> C. Dan.</label>
                <input type="range"  min="{{minRange}}" max="{{maxRange}}" 
                (input)="cDan = $event.target.value" id="cdan"
                (change)="cDanFunc('scdan')"
                class="form-control-range" value="{{rValue}}" [ngModel]="_cdan" name="_cdan">
                <div class="sin">
                    <span class="icon-cancel">No</span>
                    <span class="icon-ok">Si</span>
                </div>
            </div>
            
            <div class="form-group">
                <label for="cdar" title="Cuenta de depreciación"><span id="scdar" class="icon-tag"></span> C. Dar.</label>
                <input type="range"  min="{{minRange}}" max="{{maxRange}}"
                (input)="cDar = $event.target.value" id="cdar"
                (change)="valNormal('scdar')"
                class="form-control-range" value="{{rValue}}" [ngModel]="_cdar" name="_cdar">
                <div class="sin">
                    <span class="icon-cancel">No</span>
                    <span class="icon-ok">Si</span>
                </div>
            </div>
            
            <div class="form-group">
                <label for="vnor" title="Valor normal"><span id="svnor" class="icon-tag"></span> V. Normal.</label>
                <input type="range"  min="{{minRange}}" max="{{maxRange}}"
                (input)="vNor = $event.target.value" id="vnor"
                (change)="vNorFunc('svnor')"
                 class="form-control-range" [ngModel]="_vnor" name="_vnor">
                <div class="sin">
                    <span class="icon-cancel">No</span>
                    <span class="icon-ok">Si</span>
                </div>
            </div>

            <div class="form-group">
                <label for="vrev" title="Valor Revaluo"><span id="svrev" class="icon-tag"></span> V. Reval.</label>
                <input type="range"  min="{{minRange}}" max="{{maxRange}}"
                (input)="vRval = $event.target.value" id="vrev"
                (change)="vRvalFunc('svrev')"
                 class="form-control-range" value="{{rValue}}" [ngModel]="_vrev" name="_vrev">
                <div class="sin">
                    <span class="icon-cancel">No</span>
                    <span class="icon-ok">Si</span>
                </div>
            </div>

            <div class="form-group">
                <label for="img" title="Valor Revaluo"><span id="simg" class="icon-tag"></span> Imagen.</label>
                <input type="range"  min="{{minRange}}" max="{{maxRange}}" id="img"
                (input)="Imge = $event.target.value"
                (change)="IMG('simg')"
                 class="form-control-range" value="{{rValue}}" [ngModel]="_img" name="_img">
                <div class="sin">
                    <span class="icon-cancel">No</span>
                    <span class="icon-ok">Si</span>
                </div>
            </div>

        </form>

        <div class="btnSettings">
            <button class="btn btn-info" (click)="saveInterfaz()">
                <span class="icon-floppy" style="color: white;"></span>Guardar
            </button>
            <!-- <button class="btn btn-success" (click)="porDefecto()">
                <span class="icon-ccw" style="color: white;"></span>Por defecto
            </button> -->
        </div>       
    </div>

    <div class="viewForm">
       <p class="note mb-2">Previsualización final para el formulario de ingreso de activo fijo:</p>
       <app-activo-fijo
        style="width: 100%;"
        [Factual]="fActual" [FMod]="fMod"
        [FFin]="fecFin"     [FCrea]="feCreac"
        [FCust]="feCusto"   [FeInde]="feInde"
        [FCompra]="fCompra" [Imagen]="Imge"s
        [Placa]="placa"     [CLase]="Clas"
        [NProd]="nProd"     [Custodio]="nCustodios"
        [Depart]="ndepar"   [Serie]="nSerie"
        [Valor]="nValor"    [Activo]="nActivo"
        [Referido]="refers" [USC]="nUsuc"
        [USM]="nUsm"        [USF]="UsFin"
        [GRP]="nGroup"      [MRC]="mArca"
        [PROV]="ProvVar"    [MODL]="ModVar"
        [VUTL]="VitVar"     [VRES]="ValrVar"
        [CGAS]="cGastVar"   [CDAN]="cDan"
        [CDAR]="cDar"       [VNOR]="vNor"
        [VREVAL]="vRval"    [COLOR]="colorVar"
        [CIUD]= "ciudVar">
       </app-activo-fijo>

    </div>

</div>
